body {
  padding: 0;
  margin: 0;
}


/* ADdTaskButton.tsx keyframes */
@keyframes addTaskButton-expand {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0.7;
  }
  100% {
    width: 240px;
    height: 240px;
    opacity: 0;
  }
}

@keyframes addTaskButton-float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes addTaskButton-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes addTaskButton-pulse {
  0%, 100% { transform: scale(1); opacity: 0.4; }
  50% { transform: scale(1.2); opacity: 0.7; }
}



/* Стили для контейнера текста в TaskCard.tsx*/
.task-card-text-container {
  flex: 1;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 40px;
}

/* Стили для прокручиваемого текста в TaskCard.tsx  */
.task-card-scrollable-text {
  height: 100%;
  overflow-y: auto;
  padding-right: 8px;
}

/* Стили для параграфа текста в TaskCard.tsx */
.task-card-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* Стили для нижней части интерфейса карточки чтобы не уходил вниз при длинном тексте в TaskCard.tsx  */
.task-card-bottom {
  position: relative;
  z-index: 1;
  margin-top: 12px;
  flex-shrink: 0;
}


